NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # https://generate-secret.vercel.app/32

IMGBB_KEY= # https://api.imgbb.com/

COINBASE_CLIENT_ID= # https://developers.coinbase.com/api/v2
COINBASE_CLIENT_SECRET=
