# `vercel env pull .env.local` recommended

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # https://generate-secret.vercel.app/32

IMGBB_KEY= # https://api.imgbb.com/

COINBASE_CLIENT_ID= # https://developers.coinbase.com/api/v2
COINBASE_CLIENT_SECRET=

POSTGRES_DATABASE=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PRISMA_URL=
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_URL_NO_SSL=
POSTGRES_USER=

EMAIL_PEPPER=

TELEGRAM_BOT_TOKEN= # https://core.telegram.org/bots/api
TELEGRAM_ADMIN_CHAT_ID=
TELEGRAM_NEWPOST_CHAT_ID=
